pb_env/
data/
venv_yolo/
__pycache__/
./__pycache__
*.ps1
# Runs YOLO (predictions, grandes sorties)
runs/
# Modèles lourds à la racine et dans models/
*.pt
*.pth
models/
# Artifacts MLflow (poids lourds) - mais on garde les métriques
mlruns/**/artifacts/
# Données finales lourdes
data/final/weights_model/


